<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="main.js"></script>
    </head>
<style>
    h2{
        color:#3399ff;
        padding-left:10px;
    }
    .Mehendhi:hover{
        border-color: #3399ff;
        box-shadow: 5px #3399ff;
    }
    </style>
    <body>
       <h2>Here are your jobs</h2>  
       <hr style="border: 1px solid black">  
                <div class="row">
                    <div class="card text-center col-md-5 Mehendhi">
                        <div class="card-header">
                            <h3>Andhra pickles</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">WorkType: Pickle Making</h4>
                            <h4 class="card-text">Location: KPHB Colony </h4>
                            <h4 class="card-text">Wage     : 250 per day</h4>
                            <h4>Contact: 8688434743</h4>
                            <a href="/women/apply" class="btn btn-primary">Apply</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>

                    <div class="card text-center col-md-offset-1 col-md-5 Mehendhi">
                        <div class="card-header">
                            <h3>Victory Bazar</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">WorkType: Packing</h4>
                            <h4 class="card-text">Location: RamNagar</h4>
                            <h4 class="card-text">Wage     :50 per Hour</h4>
                            <h4>Contact: 7499229999</h4>
                            <a href="/women/apply" class="btn btn-primary">Apply</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                </div>  
                <div class="row" style="height:50px;"></div>
                <div class="row">
                    <div class="card text-center col-md-5 Mehendhi">
                        <div class="card-header">
                            <h3> Priya</h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">WorkType: Pickel Making</h4>
                            <h4 class="card-text">Location: AutoNagar </h4>
                            <h4 class="card-text">Wage     : Negotiable</h4>
                            <h4>Contact: 9542568971</h4>
                            <a href="/women/apply" class="btn btn-primary">Apply</a>
                        </div>
                        <div class="card-footer text-muted">
                            10 hours ago
                        </div>
                    </div>
                    <div class="card text-center col-md-offset-1 col-md-5 Mehendhi">
                        <div class="card-header">
                            <h3>Chandini pickles </h3>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">WorkType: Pickle Making</h4>
                            <h4 class="card-text">Location:Chandini pickle makers</h4>
                            <h4 class="card-text">Wage:ranging from 75-150(based on item)</h4>
                            <h4>Contact: 8703125689</h4>
                            <a href="/women/apply" class="btn btn-primary">Apply</a>
                        </div>
                        <div class="card-footer text-muted">
                            3 hours ago
                        </div>
                    </div>
                </div>
            </div>

    </body>
    </html>





    

    